$main_font: 'Lato', sans-serif;
$additional_font: 'Roboto', arial;

$border_color: #eae9eb;
$button_form_color: #ffca34;
$button_form_background_color: #00ab54;
$button_incorrect_color: #ff0300;
$form_element_color: #eee;
$form_element_border_color: #c0c0c0;
$form_element_active_color: #b6d9ff;
$form_text_color: #3d464a;

$dark_font_color: #000;
$bright_font_color: #8e8f94;

$folder_background_color: #fff;
$bright_background_color: #fff;
$dark_background_color: #f6f5f7;
$side_menu_background_color: #fff;
$mailbox_item_background_color: #fff;
$folder_item_background_color: #fff;
$top_bar_background_color: #f6f6f6;
$mail_background_color: #fff;