.main_container
{
	.mailbox_folder
	{
		height: auto;
		min-height: 100%;
		
		.letters_list
		{
			.letters_list_item
			{
				display: block;
				
				padding: 10px 10px 10px 5px;
				
				border-bottom: 1px solid $border_color;
				
				background-color: $folder_background_color;
				
				.addresser_image
				{
					margin: 20px 15px;
					width: 35px;
					height: 30px;
					float: left;
				}
				
				.letter_name
				{
					display: block;
					
					margin: 4px;
					
					font-family: $main_font;
					font-size: 22px;
				}
				
				.letter_mail
				{
					display: block;
					
					margin: 4px;
					
					font-family: $main_font;
					font-size: 22px;
					color: $dark_font_color;
				}
			}
		}
	}
}