.main_container
{
	.side_menu
	{
		position: absolute;
		overflow-y: scroll;
		left: 0;
		top: 0;
		bottom: 0;
		
		z-index: 1;
		width: 100%;
		background-color: $side_menu_background_color;
		
		.side_menu_header
		{
			position: relative;
			background-color: #f6f5f7;
			
			border-bottom: 1px solid $border_color;
			
			.back_button
			{
				position: absolute;
				
				top: 17px;
				left: 13px;
				
				width: 34px;
				height: 30px;
				
				.arrow_left
				{
					width: 100%;
					height: 100%;
				}
			}
			
			.side_menu_title
			{
				width: 100%;
				font: 700 18.5px $additional_font;
				text-align: center;
				padding: 21px 0 12px;
			}
		}
		
		.mailbox_list
		{
			.mailbox_list_item
			{
				overflow: hidden;
				display: block;
				background-color: $mailbox_item_background_color;
				border-bottom: 1px solid $border_color;
				
				.mailbox_item_name
				{
					display: block;
					padding: 10px 0 11px 56px;
					
					font-family: $additional_font;
					font-size: 17px;
					font-weight: 700;
					letter-spacing: .18px;
					color: $dark_font_color;
					
					background: #efeff5 url(../images/mail_image.svg) 15px center no-repeat;
					background-size: 31px 30px;
					
					cursor: pointer;
					
					border-bottom: 1px solid $border_color;
				}
				
				.folder_list
				{
					height: 0;
					animation: folder_open 1.2s alternate;
					transition: .8s;
					
					.folder_list_item
					{
						border-bottom: 1px solid #fff;
						
						.folder_item_name
						{
							position: relative;
							
							width: 100%;
							display: block;
							
							padding: 12px 0 12px 59px;
							
							font-family: $additional_font;
							font-size: 16px;
							font-weight: 700;
							letter-spacing: .67px;
							color: $dark_font_color;
							
							background: url(../images/other_images.svg) 15px center no-repeat;
							background-size: 28px 25px;
							background-color: $folder_item_background_color;
							
							cursor: pointer;
						}
						
						.folder_item_name:after
						{
							content: '';
							position: absolute;
							width: calc(100% - 58px);
							margin-left: 58px;
							height: 1px;
							background-color: $border_color;
							top: 43px;
							left: 0;
						}
						
						.inbox
						{
							background-image: url(../images/inbox.svg);
						}
						
						.high
						{
							background-image: url(../images/high_priority.svg);
						}
						
						.outbox
						{
							background-image: url(../images/outbox.svg);
						}
						
						.sent
						{
							background-image: url(../images/sent.svg);
						}
						
						.errors
						{
							background-image: url(../images/errors.svg);
						}
						
						.spam
						{
							background-image: url(../images/spam.svg);
						}
						
						.trash
						{
							background-image: url(../images/trash.svg);
						}
					}
					
					.folder_list_item:last-child
					{
						border-bottom: none;
					}
				}
			}
			
			.mailbox_list_item:first-child
			{
				.folder_list
				{
					height: auto;
				}
			}
		}
	}
	
	.side_menu.open
	{
		animation: left_menu_open 1.2s alternate;
	}
	
	.side_menu.close
	{
		animation: left_menu_close 1.2s alternate;
		left: -100%;
	}
}