.main_container
{
	.side_menu
	{
		position: absolute;
		overflow-y: scroll;
		left: 0;
		top: 50px;
		bottom: 0;
		
		z-index: 1;
		width: 88%;
		border-right: 1px solid $border_color;
		background-color: $side_menu_background_color;
		
		.mailbox_list
		{
			.mailbox_list_item
			{
				overflow: hidden;
				display: block;
				background-color: $mailbox_item_background_color;
				border-bottom: 1px solid $border_color;
				
				.mailbox_item_name
				{
					display: block;
					padding: 20px 0 20px 80px;
					
					font-family: $additional_font;
					font-size: 25px;
					color: $dark_font_color;
					
					background: url(../images/mailbox.png) 20px center no-repeat;
					background-size: 45px 40px;
					
					cursor: pointer;
				}
				
				.folder_list
				{
					height: 0;
					animation: folder_open 1.2s alternate;
					padding-left: 30px;
					transition: .8s;
					
					.folder_list_item
					{
						border-bottom: 1px solid $border_color;
						
						.folder_item_name
						{
							display: block;
							
							padding: 14px 0 13px 75px;
							
							font-family: $additional_font;
							font-size: 23px;
							color: $dark_font_color;
							
							background: url(../images/maillist.png) 20px center no-repeat;
							background-size: 36px 25px;
							background-color: $folder_item_background_color;
							
							cursor: pointer;
						}
					}
					
					.folder_list_item:last-child
					{
						border-bottom: none;
					}
				}
			}
			
			.mailbox_list_item:first-child
			{
				.folder_list
				{
					height: auto;
				}
			}
		}
	}
	
	.side_menu.open
	{
		animation: left_menu_open 1.2s alternate;
	}
	
	.side_menu.close
	{
		animation: left_menu_close 1.2s alternate;
		left: -88%;
	}
}