.main_container
{
	.top_bar
	{
		border-bottom: 1px solid $border_color;
		background-color: $top_bar_background_color;
		
		.side_menu_button
		{
			position: absolute;
			top: 19px;
			left: 17px;
			
			display: block;
			width: 28px;
			height: 23px;
			opacity: 0.65;
			
			cursor: pointer;
			
			.button_image
			{
				width: 100%;
				height: 100%;
			}
		}
		
		
		.side_menu_button:hover
		{
			opacity: 0.3;
		}
		
		
		.folder_name
		{
			padding: 9px 0 0 60px;
			
			font: 700 16px $additional_font;
			color: $dark_font_color;
		}
		
		.folder_adress
		{
			padding: 6px 0 5px 60px;
			
			font: 700 15px $additional_font;
			color: $dark_font_color;
		}
	}
}