.main_container .top_bar {
  padding: 10px 15px;
  border-bottom: 1px solid #eae9eb;
  background: #f6f6f6 url(../images/logo.png) calc(100% - 20px) center no-repeat; }
  .main_container .top_bar .side_menu_button {
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 20px;
    height: 15px;
    opacity: 0.65;
    cursor: pointer; }
    .main_container .top_bar .side_menu_button .button_image {
      width: 100%;
      height: 100%; }
  .main_container .top_bar .side_menu_button:hover {
    opacity: 0.3; }
  .main_container .top_bar .top_bar_title {
    display: block;
    width: 100%;
    font: 700 24px "Roboto", arial;
    text-align: center;
    color: #000; }

.main_container .side_menu {
  position: absolute;
  overflow-y: scroll;
  left: 0;
  top: 50px;
  bottom: 0;
  z-index: 1;
  height: calc(100% - 64px);
  width: 88%;
  border-right: 1px solid #eae9eb;
  background-color: #fff; }
  .main_container .side_menu .mailbox_list .mailbox_list_item {
    overflow: hidden;
    display: block;
    background-color: #fff;
    border-bottom: 1px solid #eae9eb; }
    .main_container .side_menu .mailbox_list .mailbox_list_item .mailbox_item_name {
      display: block;
      padding: 20px 0 20px 80px;
      font-family: "Roboto", arial;
      font-size: 25px;
      color: #000;
      background: url(../images/mailbox.png) 20px center no-repeat;
      background-size: 45px 40px;
      cursor: pointer; }
    .main_container .side_menu .mailbox_list .mailbox_list_item .folder_list {
      height: 100%;
      animation: folder_open 1.2s alternate;
      padding-left: 30px; }
      .main_container .side_menu .mailbox_list .mailbox_list_item .folder_list .folder_list_item {
        border-bottom: 1px solid #eae9eb; }
        .main_container .side_menu .mailbox_list .mailbox_list_item .folder_list .folder_list_item .folder_item_name {
          display: block;
          padding: 14px 0 13px 75px;
          font-family: "Roboto", arial;
          font-size: 23px;
          color: #000;
          background: url(../images/maillist.png) 20px center no-repeat;
          background-size: 36px 25px;
          background-color: #fff;
          cursor: pointer; }
      .main_container .side_menu .mailbox_list .mailbox_list_item .folder_list .folder_list_item:last-child {
        border: none; }
.main_container .side_menu.open {
  animation: left_menu_open 1.2s alternate; }
.main_container .side_menu.close {
  animation: left_menu_close 1.2s alternate;
  left: -88%; }

.main_container .mailbox_folder {
  height: calc(100vh - 64px);
  overflow-y: scroll; }
  .main_container .mailbox_folder .letters_list {
    height: calc(100vh - 64px);
    padding-left: 4px; }
    .main_container .mailbox_folder .letters_list .letters_list_item {
      display: block;
      padding: 10px 10px 10px 5px;
      border-bottom: 1px solid #eae9eb;
      background-color: #fff; }
      .main_container .mailbox_folder .letters_list .letters_list_item .letter_addresser {
        margin: 4px;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        color: #000; }
      .main_container .mailbox_folder .letters_list .letters_list_item .letter_date {
        float: right;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        color: #000; }
      .main_container .mailbox_folder .letters_list .letters_list_item .letter_header {
        margin: 4px;
        clear: both;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        color: #000; }
      .main_container .mailbox_folder .letters_list .letters_list_item .letter_text {
        margin: 4px;
        font-family: "Lato", sans-serif;
        font-size: 20px;
        color: #8e8f94; }

@keyframes left_menu_open {
  from {
    left: -88%; }
  to {
    left: 0; } }
@keyframes left_menu_close {
  from {
    left: 0; }
  to {
    left: -88%; } }
@keyframes folder_open {
  from {
    height: 0; }
  to {
    height: auto; } }
@keyframes folder_close {
  from {
    height: auto; }
  to {
    height: 0; } }
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box; }

.invisible {
  display: none; }

html, body {
  height: 100%; }

.main_container {
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  height: auto;
  min-height: 100%; }

/*# sourceMappingURL=main1.css.map */
