.main_container
{
	.content
	{
		padding: 0 27px;
		
		.block_form
		{
			.page_title
			{
				font: 700 25px "Roboto", arial;
				padding: 35px 0 15px;
				letter-spacing: .88px;
			}
			
			.error_message
			{
				background-color: #f8d0c8;
				font: 700 12px "Roboto", arial;
				padding: 14px 14px 17px;
				border-radius: 5px;
				letter-spacing: .1px;
			}
			
			.form_autorization
			{
				padding-top: 9px;
				
				.form_text
				{
					margin-bottom: 7px;
					font-family: $additional_font;
					font-size: 14px;
					color: $form_text_color;
				}
				
				.form_element
				{
					width: 100%;
					margin-bottom: 16px;
					padding: 12px 16px;
					border: 1px solid $form_element_border_color;
					transition: border-color 0.3s ease, box-shadow 0.3s ease;
					border-radius: 5px;
					
					font-family: $main_font;
					font-size: 15px;
					color: rgba(0, 0, 0, 0.8);
					
					box-shadow: inset 0 1px 3px $form_element_border_color;
					outline: none;
				}
				
				.form_element:focus
				{
					border: 1px solid $form_element_active_color;
					box-shadow: inset 0 1px 3px $form_element_active_color;
				}
				
				.incorrect
				{
					border-color: $button_incorrect_color;
				}
				
				.button_submit
				{
					width: 100%;
					margin-top: 24px;
					padding: 11px 0;
					
					border-radius: 5px;
					border: 1px solid #b3daf8;
					outline: none;
					text-decoration: none;
					background-color: $button_form_color;
					
					font: 400 15px $main_font;
					text-align: center;
					
					cursor: pointer;
				}
			}
		}
	}
}
