.main_container
{
	.top_bar
	{
		background-color: $dark_background_color;
		
		.top_bar_title
		{
			background: url(../images/logo.png) 0 center no-repeat;
			font: 700 21px $additional_font;
			color: #343c40;
			margin-left: calc(50% - 51px);
			padding: 16px 0 15px 38px;
		}
	}
}