@import '../const';
@import 'top_bar2';
@import 'mail2';

@keyframes left_menu_open
{
	from {left: -88%;}
	to {left: 0;}
}

*
{
	padding: 0;
	margin: 0;
	
	list-style-type: none;
	text-decoration: none;
	
	box-sizing: border-box;
}

.invisible
{
	display: none;
}

html, body
{
	height: auto;
	min-height: 100%;
}

.main_container
{
	position: relative;
	
	margin: 0 auto;
	min-width: 320px;
	max-width: 640px;
	height: auto;
	min-height: 100%;
}